<div class="input-group mb-3">
  <input type="search" name="movieQuery" id="movieQuery" class="form-control rounded" placeholder="Movie" [(ngModel)]="query" (keyup.enter)="searchMovie()">
  <div class="input-group-append">
    <button class="input-group-text" (click)="searchMovie()">Search</button>
  </div>
</div>

<ng-container *ngIf="movies.length != 0">
  <cdk-virtual-scroll-viewport itemSize="18" style="height:62vh" class="border bg-dark">
    <div class="container mt-4">
      <div class="row">

        <div *ngFor="let movie of movies" class="col-md-3">
          <div  class="card">

            <img ngSrc="{{movie.posterUrl}}"
                 width="444" height="250" class="card-img-top" alt="{{movie.movieTitle}} poster" >
            <div class="card-body">
              <h5 class="card-title">{{movie.movieTitle}}</h5>
              <h6 class="card-subtitle">{{movie.releaseYear}}</h6>
              <p class="card-text">Unit Price:${{movie.unitPrice}} </p>
              <label class="card-text" for="copiesQuantity">Quantity:</label>
              <input style="width: 60px" type="number" name="copiesQuantity" id="copiesQuantity" [(ngModel)]="movie.copiesAmount">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

  </cdk-virtual-scroll-viewport>

  <div class="text-center">
    <button (click)="getSelectedMovies()">RESTOCK</button>
  </div>
</ng-container>
