.float-container {
  padding: 20px;
}
.float-child-1 {
  width: 50%;
  height: 78vh;
  float: left;
  padding: 20px;
  border: 2px solid;
}
.float-child-2 {
  width: 45%;
  float: right;
  padding: 20px;
  border: 2px solid;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header, footer {
  background: darkgray;
}
.content {
  flex: 1;
  overflow: auto;
}
