<label for="movieQuery">Search Movie:</label>
<input type="text" name="movieQuery" id="movieQuery" [(ngModel)]="query" (keyup.enter)="searchMovie()">
<button (click)="searchMovie()">SEARCH</button>

<ng-container *ngIf="movies != undefined">
  <cdk-virtual-scroll-viewport itemSize="18" style="height:70vh">
    <div class="container mt-4">
      <div class="row">
        <div *ngFor="let movie of movies" class="col-md-3">
          <div  class="card">
            <img ngSrc="https://image.tmdb.org/t/p/w500/{{movie.posterUrl}}" width="150" height="300" class="card-img-top" alt="Card Image">
            <div class="card-body">
              <h5 class="card-title">{{movie.movieTitle}}</h5>
              <h6 class="card-subtitle">{{movie.releaseYear}}</h6>
              <p class="card-text">Unit Price:{{movie.unitPrice}} </p>
              <label class="card-text" for="copiesQuantity">Copies:</label>
              <input type="number" name="copiesQuantity" id="copiesQuantity" [(ngModel)]="movie.copiesAmount">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

  </cdk-virtual-scroll-viewport>
  <div class="text-center">
    <button (click)="restockMovies()" routerLink="/sales">RESTOCK</button>
  </div>
</ng-container>
