<label for="movieQuery">Search Movie:</label>
<input type="text" name="movieQuery" id="movieQuery" class="nav-list-search" [(ngModel)]="query" (keyup.enter)="searchMovie()">
<button (click)="searchMovie()">SEARCH</button>


<ng-container *ngIf="movies != undefined">
  <cdk-virtual-scroll-viewport itemSize="18" style="height:68vh" class="border">
    <div class="container mt-4">
      <div class="row">
        <div *ngFor="let movie of movies" class="col-md-3">
          <div  class="card">
            <img ngSrc="https://image.tmdb.org/t/p/w500/{{movie.posterUrl}}" width="444" height="250" class="card-img-top" alt="Card Image">
            <div class="card-body">
              <h5 class="card-title">{{movie.movieTitle}}</h5>
              <h6 class="card-subtitle">{{movie.releaseYear}}</h6>
              <p class="card-text">Unit Price:{{movie.unitPrice}} </p>
              <label class="card-text" for="copiesQuantity">Quantity:</label>
              <input style="width: 60px" type="number" name="copiesQuantity" id="copiesQuantity" [(ngModel)]="movie.copiesAmount">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

  </cdk-virtual-scroll-viewport>

  <div class="text-center"> <button (click)="restockMovies()">RESTOCK</button> </div>
</ng-container>
