<div class="container-fluid">
  <div class="row">

    <div class="col-md-6" id="greeting">
      <div class="text-center" id="greeting-box">
        <h1>Movie Store</h1>
        <h2>Movie store simulator using Spring and Angular</h2>
      </div>
    </div>

    <div class="col-md-6">
      <div class="login-container">
        <div class="login-form">

          <h2 class="text-center align-text-top">{{ isLoginMode ? 'Login' : 'Register' }}</h2>
          <form (ngSubmit)="onSubmit()" role="form" name="form" #form="ngForm">
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Enter username" [(ngModel)]="loginCredentials.name">
            </div>

            <!-- register -->
            <div *ngIf="!isLoginMode" class="form-group">
              <label for="email">Store Name</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" [(ngModel)]="newUser.storeName">
            </div>
            <!-- -->
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" [(ngModel)]="loginCredentials.password">
            </div>

            <div *ngIf="!isLoginMode" class="form-group">
              <label for="confirm">Confirm password</label>
              <input type="email" class="form-control" name="confirm" id="confirm" placeholder="Enter email" [(ngModel)]="newUser.confirm">
            </div>

            <button type="submit" class="btn btn-primary btn-block">{{ isLoginMode ? 'Login' : 'Register' }}</button>
          </form>

          <p>
            {{ isLoginMode ? 'Don\'t have an account?' : 'Already have an account?' }}
            <a routerLink="/login" (click)="toggleMode()">{{ isLoginMode ? 'Register here' : 'Login here' }}</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
